body{
      /*background: skyblue;*/
     }
      
.chat{
		background: skyblue;
		height: 500px;
		display: inline-block;
		flex-wrap: nowrap;

}

.vide {
        
     
      }
/*.li{
	 background: pink;
	 border-width: 2px;
	 border-style: solid;
	 text-align: right;
   }*/

 .my-msg{
   		 border-color: yellow;
   		 border-width: 2px;
   		 border-style: solid;
   		 /*text-align: right;*/

   		}

   		

 /*rder-bottom-style: solid;
border-bottom-width: 2px;
border-left-style: solid;
border-left-width: 2px;
border-right-style: solid;
border-right-width: 2px;
border-top-style: solid;
border-top-width: 2px;
margin-bottom: 1px;
margin-top: 1px;
padding-bottom: 1px;
padding-left: 1px;
padding-right: 1px;
padding-top: 1px;*/
   